html {
	height: 489px;
	width: 489px;
}

h1 {
	font-family: Georgia, serif
}

p {
	font-family: Georgia, serif
}

ul {
	font-family: Georgia, serif
}


img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
}

#jordansleftfoot {
	display: block;
	margin: 0 auto;
	background-color:	#F5F5F5;
	border-top:		2px solid #a3ceda;
	border-left:		2px solid #a3ceda;
	border-right:		2px solid #4f6267;
	border-bottom:		2px solid #4f6267;
	padding:		10px 20px !important;
	font-weight: bold;
	color: #2d525d;
	bottom: 20px;
}

body {
	height: 489px;
	width: 489px;
	background: #DCDCDC;
}

label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

label:hover {
	background-color: #ccc;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
