html {
	height: 489px;
	width: 489px;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
}

#jordansleftfoot {
	background-color:	#c4f1fe;
	padding:		10px 20px !important;
	font-weight: bold;
	color: #2d525d;
}

body {
	height: 489px;
	width: 489px;
}